@tailwind utilities;
@tailwind base;
@tailwind components;



.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scrollbar {
  margin-bottom: 100px
}


.shadow-btn {
  @apply shadow shadow-stone-100 bg-white/80 rounded-xl;
}